<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h3>Write New Chat</h3>
    <form method="POST" action="/chats">
        <input type="text" name="from" placeholder="your name">
        <br>
        <br>
        <textarea name="msg" id="" cols="30" rows="10" placeholder="Your Message..."></textarea>
        <br>
        <input type="text" name="to" placeholder="receiver's name">
        <button>Create Chat</button>
    </form>
</body>
</html>